@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.brand {
  font-weight: 800;
  font-size: 20px;
  padding: 0 20px;
}

.container{
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

.nav-bar{
    overflow: auto;
    /* list-style: none;
    display: flex;
    justify-content: right;
    align-items: flex-start; */
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-bar .brand{
    float: left;
    padding-top: 16px; /* */
}

.nav-links{
    list-style-type: none;
    float: right;
    /* display: flex;
    justify-content: flex-end; */
}

.site-section{
    /* display: flex; */
    float: left;
    /* justify-content: flex-start; */
}

.section-link{
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.section-link:hover{
    text-decoration: underline;
}

.slider{
    display: block;
    margin: auto;
    overflow: auto;
    /* padding: 0 20px; */  /*tiene que ser 100%*/
}


.slide{
    max-width: 100%;
    object-fit: cover;
}

.hero-button{
    border: none;
    outline: none;
    padding: 12px 24px;
    border-radius: 8px;
    color: white;
    background: black;
    cursor: pointer;

}

.hero-button:hover{
    color: black;
    background: rgb(173, 174, 175);
}

.hero-display-right{
    margin-left: 382px; /*mobile*/
}


.section-title{
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    padding: 100px 100px 70px 100px;

}

.section-header{
    grid-area: header;
}

.project-example-1{
    grid-area: project-example-1;
}

.project-example-2{
    grid-area: project-example-2;
}

.project-example-3{
    grid-area: project-example-3;
}

.grid-section{
    display: grid;
    grid-template-areas: 
    "header header header"
    "project-example-1 project-example-2 project-example-3";
}

.article-title{
    font-weight: 600;
    font-size: 17px;
    text-align: center;
}

.article-img{
    display: block;
    margin: 0 auto;
    max-height: 100px;
    align-items: center;
}

.project{
    padding: 10px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.article-text{
    display: block;
    padding: 20px;
    text-align: center;
    line-height: 150%;
}

.article-subtitle{
    padding: 20px 20px 20px 5px;
    text-decoration: underline;
}

.section-link-experience{
    color: cornflowerblue;
}

.article-list{
    list-style-type: square;
    padding: 20px;
    line-height: 150%;
}