@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.brand {
  font-weight: 800;
  font-size: 20px;
  padding: 0 20px;
}

.container{
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

.nav-bar{
    overflow: auto;
    /* list-style: none;
    display: flex;
    justify-content: right;
    align-items: flex-start; */
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-bar .brand{
    float: left;
    padding-top: 16px; /* */
}

.nav-links{
    list-style-type: none;
    float: right;
    /* display: flex;
    justify-content: flex-end; */
}

.site-section{
    /* display: flex; */
    float: left;
    /* justify-content: flex-start; */
}

.section-link{
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.section-link:hover{
    text-decoration: underline;
}

.slider{
    display: block;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}


.slide{
    max-width: 100%;
    object-fit: cover;
}

.hero-button{
    border: none;
    outline: none;
    padding: 12px 24px;
    border-radius: 8px;
    color: white;
    background: black;
    cursor: pointer;

}

.hero-button:hover{
    color: black;
    background: rgb(173, 174, 175);
}

.hero-display-right{
    margin-left: 342px; /* mobile */
}